.CalcBody {
  /* sizing */
  width: 35rem;
  height: 50rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  background-color: black;
  box-shadow: 0 0 1rem white;
}
